<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Perfil</title>
    <script src="https://kit.fontawesome.com/4ae9ddea7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perfil_estilo.css">
</head>

<body>
    <main>
        <section class="perfil_container perfil_publi_info">
            <img class="perfil_fto_principal" src="/img/padrao.png" alt="Foto de perfil">
            <section class="perfil_informacoes">
                <h1 class="perfil_userName">@ViewBag.UserName</h1>
                <div class="perfil_dados">
                    <span>0 publicações</span>
                    <span>129 seguindo</span>
                    <span>214 seguidores</span>
                </div>
                <div class="perfil_nome_sair">
                    <h2 class="perfil_name">@ViewBag.Nome</h2>
                    <a href="#">Editar Perfil</a>
                    <a asp-controller="Perfil" asp-action="Logout">Sair</a>
                </div>
            </section>
        </section>

        <section class="perfil_publicacoes">
            <div class="line"></div>
            <div class="perfil_visu_publicacoes">
                <img src="/img/image 1.png">
                <span>publicações</span>
            </div>
            @foreach (var item in ViewBag.Usuarios)
            {
                <article class="perfil_post">
                    <div class="perfil_box_conteudo">
                        <img class="perfil_img_publi" src="/img/Rectangle 4.png" alt="Imagem publicada">
                        <section class="perfil_sec_coments">
                            <div class="perfil_foto_e_local">
                                <img class="perfil_foto_perfil" src="/img/padrao.png" alt="Foto de perfil">
                                <div class="perfil_nome_e_local">
                                    <a>@item.Nome</a>
                                    <span>Rio de Janeiro, Brazil</span>
                                </div>
                            </div>
                            <div class="perfil_like_e_coment">
                                <a class="perfil_btn_publi" href="#"><i class="far fa-heart" aria-hidden="true"></i></a>
                                <a class="perfil_btn_publi_c" href="#"><i class="far fa-comment" aria-hidden="true"></i></a>
                            </div>
                            <span class="perfil_num_like">1954 curtidas</span>

                            <div class="perfil_coment">
                                <div class="perfil_coment_resp">
                                    <a><span>Fausto_silva:</span></a>
                                    <p>Esse cara é fera bixo!!!</p>
                                </div>
                                <a class="perfil_btn_publi_resp" href="#"><i class="far fa-heart"
                                    aria-hidden="true"></i></a>
                            </div>

                            <div class="perfil_coment">
                                <div class="perfil_coment_resp">
                                    <a><span>yes_baby:</span></a>
                                    <p>thank you</p>
                                </div>

                                <a class="perfil_btn_publi_resp" href="#"><i class="far fa-heart"
                                    aria-hidden="true"></i></a>
                            </div>

                            <div class="perfil_coment">
                                <div class="perfil_coment_resp">
                                    <a><span>adriano_stark:</span></a>
                                    <p>Quando eu adormecer, vou sonhar com você.</p>
                                </div>
                                <a class="perfil_btn_publi_resp" href="#"><i class="far fa-heart"
                                    aria-hidden="true"></i></a>
                            </div>

                            <div class="perfil_coment">
                                <div class="perfil_coment_resp">
                                    <a><span>yes_baby:</span></a>
                                    <p>Yes, baby!!</p>
                                </div>
                                <a class="perfil_btn_publi_resp" href="#"><i class="far fa-heart"
                                    aria-hidden="true"></i></a>
                            </div>

                            <div>
                                <button href="#" type="submit">Ver todos os 543 comentários</button>
                            </div>
                        </section>
                        @if (item.Imagem < 1)
                        {
                            <div>
                                <p>Suas publicações aparecerão aqui</p>
                            </div>
                        }

                    </div>
                </article>
            }
        </section>

    </main>
</body>

</html>