<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4ae9ddea7e.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - ProjetoInstaDev</title>
    @switch (ViewData["Title"])
    {
        case "Feed":
            <link rel="stylesheet" href="~/css/styleFeed.css" />
            break;
        default:
            <link rel="stylesheet" href="~/css/perfil_estilo.css" />
            <link rel="stylesheet" href="~/css/Login.css" />
            break;
    }
</head>

<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
