<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4ae9ddea7e.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - ProjetoInstaDev</title>
    @switch (ViewData["Title"])
    {
        case "Feed":
            <link rel="stylesheet" href="~/css/styleFeed.css" />
            break;
        case "Cadastro":
            <link rel="stylesheet" href="~/css/InstaDeve_Cadastro.css">
            break;
        case "Perfil":
            <link rel="stylesheet" href="~/css/perfil_estilo.css" />
            break;
        case "Login":
            <link rel="stylesheet" href="~/css/Login.css" />
            break;
        case "EdicaoPerfil":
            <link rel="stylesheet" href="~/css/edicaoperfil.css" />
            break;
        default:
            break;
    }
</head>

<body>
    <div>
        @switch (ViewData["Title"])
        {
            case "Feed":
            <link rel="stylesheet" href="~/css/edicaoperfil.css" />
                <header>
                    <div class="itens_header grid">
                        <img class="logo_principal" src="~/wwwroot/img/InstadevLogo.png">
                        <input class="pesquisa_principal" placeholder="Pesquise no InstaDev">
                        <nav class="apoio_click">
                            <a asp-area="" asp-controller="Feed" asp-action="Index"> <img class="click_header"
                            src="~/wwwroot/img/home_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/direct_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/nav_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/fav_click.png" alt=""> </a>
                            <a asp-area="" asp-controller="Perfil" asp-action="Index"> <img class="click_header"
                            src="~/wwwroot/img/perfil_click.png" alt=""> </a>
                        </nav>
                    </div>
                </header>
                break;
            case "Perfil":
                <header>
                    <div class="itens_header grid">
                        <img class="logo_principal" src="~/wwwroot/img/InstadevLogo.png">
                        <input class="pesquisa_principal" placeholder="Pesquise no InstaDev">
                        <nav class="apoio_click">
                            <a asp-area="" asp-controller="Feed" asp-action="Index"> <img class="click_header"
                            src="~/wwwroot/img/home_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/direct_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/nav_click.png" alt=""> </a>
                            <a href="#"> <img class="click_header" src="~/wwwroot/img/fav_click.png" alt=""> </a>
                            <a asp-area="" asp-controller="Perfil" asp-action="Index"> <img class="click_header"
                            src="~/wwwroot/img/perfil_click.png" alt=""> </a>
                        </nav>
                    </div>
                </header>
                break;
            default:
                break;
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @switch (ViewData["Title"])
        {
            case "Perfil":
                <footer>
                    <section class="perfil_footer_sec">
                        <ul class="links_úteis">
                            <span>Links úteis:</span>
                            <li><a href="#">Regras de utilização</a></li>
                            <li><a href="#">Suporte</a></li>
                            <li><a href="#">Central de ajuda</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a asp-area="" asp-controller="Cadastro" asp-action="Index">Cadastre-se</a></li>
                        </ul>
                        <a asp-area="" asp-controller="Feed" asp-action="Index"><img class="footer_logo"
                        src="~/ImagensCadastro/Instadev@2x.png" alt="Logo_Instadev"></a>
                        <span>© 2021 INSTADEV DO SENAI INFO</span>
                    </section>
                </footer>
                break;
            default:
                break;
        }

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
