@model Usuario
@{
    ViewData["Title"] = "EdicaoPerfil";
}

<!-- Inicio Main -->
<main>
    <div class="apoio_edicao grid">
        <section class="secao_lateral">
            <a href="#">
                <div class="opcao_lateral">
                    <hr class="barra_selecao">
                    <h1 class="opcao_lateral"> Editar Perfil </h1>
                </div>
            </a>
        </section>

        <hr class="slide_bar">

        <section class="edicao_Perfil">


            <article class="apoio_infos apoio_img_fixa">

                <div class="instrucao_fixa">
                    <img src="~/wwwroot/img/perfil_click.png">
                </div>

                <div class="instrucao_movel edita_foto_perfil">
                    <h1> NomeDeUsuário </h1>
                    <label for="file"> Alterar foto de perfil </label>
                    <input type="file" id="file" name="file"></input>
                </div>
            </article>


            <article class="apoio_infos">
                <div class="instrucao_fixa">
                    <span>Nome</span>
                </div>

                <div class="instrucao_movel">
                    <input class="input_estilo" placeholder="Novo nome">
                    <p class="instrucao_movel"> Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é
                        conhecido: seu nome completo, apelido ou nome comercial. </p>
                    <p class="instrucao_movel"> Você pode alterar o seu nome apenas duas vezes a cada 14 dias. </p>
                </div>
            </article>


            <article class="apoio_infos">
                <div class="instrucao_fixa">
                    <span> Nome de Usuário </span>
                </div>

                <div class="instrucao_movel">
                    <input class="input_estilo" placeholder="Novo nome de usuário">
                    <p class="instrucao_movel"> Na maioria dos casos, você poderá alterar seu nome de usuário novamente
                        para nascimento_tr por mais 14 dias. </p>
                    <p class="instrucao_movel"> Informações Pessoais. Forneça suas informações pessoais, mesmo se a
                        conta for usada para uma empresa, um animal de estimação ou outra coisa. Elas não farão parte do
                        seu perfil público. </p>
                </div>
            </article>


            <article class="apoio_infos">
                <div class="instrucao_fixa">
                    <span> Email </span>
                </div>

                <div class="instrucao_movel">
                    <input class="input_estilo" placeholder="Novo Email">

                    <div class="envia_alteracao">
                        <a href="#"> <button> Enviar </button> </a>
                        <a asp-area="" asp-Controller="EditarPerfil" asp-action="Excluir"> Desativar minha conta
                            definitivamente </a>
                    </div>
                </div>
            </article>


        </section>
    </div>