@model Usuario

@{
   ViewData["Title"] = "Feed"; 
}

<section class="feed_container">
    <div class="feed_container_posts">
        <div class="feed_container_usuarios">
            <div class="feed_perfis">
                <img src="/imagens/Thomas_transformers.jpg" class="feed_imagem_perfis">
                <span>thomas_transformers</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/Thomas_pistola.png" class="feed_imagem_perfis">
                <span>thomas_pistola</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/thomas_verde.jpg" class="feed_imagem_perfis">
                <span>thomas_verde</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/Pepa.jpg" class="feed_imagem_perfis">
                <span>PepaCalva</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/batatinha.jpg" class="feed_imagem_perfis">
                <span>batatinhas</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/pao-de-queijo-mineiro-de-familia.jpg" class="feed_imagem_perfis">
                <span>pãodqueijo</span>
            </div>
            <div class="feed_perfis">
                <img src="/imagens/Xaropinho.jpg" class="feed_imagem_perfis">
                <span>Xaropinho</span>
            </div>
        </div>
        <form class="feed_postar" method="POST" action='@Url.Action("CadastrarPost")' enctype="multipart/form-data">
            <div class="feed_organizar_form">
                <div class="feed_organizar_postar">
                    <img src="/imagens/Thomas_lindao.jpg" class="feed_imagem_logado">
                    <span>Postar</span>
                </div>
                <div class="feed_postar_inputs">
                    <input class="feed_inputs" type="text" placeholder="Digite a descrição da postagem...">
                    <label for="file">Escolha a imagem</label>
                    <input id="file" name="file" class="feed_input_file" type="file">
                    <button class="feed_btn_publicar">Postar</button>
                </div>
            </div>
        </form>
        <div class="feed_post">
            <div class="feed_post_header">
                <img class="feed_imagem_perfil_post" src="imagens/batatinha.jpg">
                <div class="feed_post_header_organizar">
                    <span class="feed_nome_logado">batatinha</span>
                    <span class="feed_local_post">Prainha, RJ</span>
                </div>
            </div>
            <div>
                <img class="feed_imagem_post" src="imagens/prainha.jpg">
            </div>
            <div class="feed_post_interacoes">
                <div class="feed_post_organizar_interacoes">
                    <img src="imagens/Vector.png" alt="Curtir">
                    <img src="imagens/balaozinho.png" alt="Comentários">
                    <div>
                        <input class="feed_post_comentar" type="text" placeholder="Comentar...">
                    </div>
                </div>
                <span>100 curtidas</span>
                <table class="feed_table">
                    <tbody>
                        <tr>
                            <td class="feed_comentario_perfil">tia_Cláudia</td>
                            <td class="feed_comentario">Amor da Titia S2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="feed_usuario_logado">
            <img class="feed_imagem_perfil_logado" src="imagens/Thomas_lindao.jpg">
            <div class="feed_organizar_perfil_logado">
                <span class="feed_nome">@ViewBag.UserName</span>
                <span class="feed_nome_real">Thomas</span>
            </div>
        </div>
    </div>
</section>