@model Usuario
@{
    ViewData["Title"] = "Login";
}

<section class="login">
    <div class="login_principal login_space_btw ">
        <div class="login_imagem">
            <img src="~/app/Instadev.svg" alt="">
        </div>
        <form method="POST" action='@Url.Action("Logar")' enctype="multipart/form-data">
            <div class="login_email ">
                <input class="login_input_login1" type="email" name="Email" placeholder="E-mail" id="input_email">
                <input class="login_input_login2" type="password" name="Senha" placeholder="Senha" id="input_senha">
            </div>
            <div class="error">
                <span>@TempData.Peek("MensagemErro")</span>
            </div>
            <div class="login_btn">
                <button type="submit" class="btn_refeito">Entrar</button>
            </div>
        </form>
        <div class="login_hr">
            <hr class="login_hr1">
            <div class="login_ou">
                <p>ou</p>
            </div>
            <hr class="login_hr2">
        </div>
        <div class="login_esqueceu">
            <a class="login_trocar" href="#">Esqueceu a senha?</a>
        </div>

    </div>
    <div class="login_novo">
        <p class="login_cadastre_se">Não tem uma conta?<a asp-area="" asp-controller="Cadastro"
                asp-action="Index">Cadastre-se</a></p>
    </div>
    <div class="login_espaco">
        <p class="login_app">Obtenha o aplicativo</p>
    </div>
    <div class="login_baixe">
        <img class="login_instale_ios" src="~/app/app_store 1.png" alt="">
        <img class="login_instale_android" src="~/app/google_play 1.png" alt="">
    </div>
</section>
