*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.grid {
    margin: 0, 25.65%;
    width: 48.697%;
}


/* Inicio do Header */

header {
    background-color: white;
    border: 1px solid #f1f1f1;
    /* width: 100%; */
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}

.itens_header {
    background-color: white;
    height: 50.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.logo_principal {
    background-color: white;
    height: 100%;
}

.pesquisa_principal {
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    width: 23%;
    height: 100%;
    border-radius: 2px;
    padding-left: 7px;
    /* text-align: center; */
    text-justify: center;
    color: #252525;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.pesquisa_principal::placeholder {
    text-align: center;
}

.apoio_click {
    background-color: white;
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.click_header {
    background-color: white;
    width: 30px;
    height: 30px;
}

.click_header_perfil{
    background-color: white;
    width: 30px;
    height: 30px;
    clip-path: circle(50% at 50% 50%);
}

.perfil_btn_publi_c i{
    font-size:  1.6vw;
    color: #000000;
}

.perfil_btn_publi_c i:hover{
    color: #2686CC;
}

.perfil_btn_publi i{
    font-size:  1.6vw;
    color: #000000;
}

.perfil_btn_publi i:hover{
    color: #ff0000;
}

.feed_container{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    width: 100%;
}

.feed_container_posts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 610px;
}

.feed_container_usuarios{
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 610px;
    height: 113px;
    border: 1px solid #F1F1F1;
    margin: 5% 0 7% 0;
}

.feed_perfis{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 86px;
    width: 61px;
}

.feed_perfis span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.feed_imagem_perfis{
    width: 61px;
    height: 62px;
    clip-path: circle(50% at 50% 50%);
}

.feed_postar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 610px;
    height: 166px;
    border: 1px solid #F1F1F1;
    margin-bottom: 7%;
}

.feed_postar span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.feed_organizar_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 80%;
}

.feed_organizar_postar{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 42px;
    width: 589px;
}

.feed_imagem_logado{
    width: 42px;
    height: 42px;
    margin-right: 8px;
    clip-path: circle(50% at 50% 50%);
}

.feed_postar_inputs{
    display: flex;
    justify-content: space-around;
    height: 27px;
    width: 100%;
}

.feed_postar_inputs label{
    padding: 3px 0px 3px 14px;
    width: 144px;
    display: block;
    background: #D1D1D1;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #7D7D7D;
}

.feed_inputs{
    height: 27px;
    width: 231px;
    background-color: #f0f0f0;
    border: #c0c0c0;
    border-radius: 5px;
    padding-left: 10px;
}

.feed_input_file{
    display: none;
}

.feed_btn_publicar{
    background-color:#2686CC;
    color: #ffffff;
    width: 140px;
    border-radius: 5px;
    border: #ffffff;
}

.feed_btn_publicar:hover{
    background-color:#2660cc;
    color: #ffffff;
    width: 140px;
    border-radius: 5px;
    border: #ffffff;
}

.feed_mensagem_inicio{
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 610px;
    height: 160px;
    /* border: 1px solid #F1F1F1; */
    margin-bottom: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B6B6B6;
}

.feed_post{
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #ffffff;
    width: 610px;
    height: 610px;
    border: 1px solid #F1F1F1;
    margin-bottom: 7%;
}

.feed_post_header{
    display: flex;
    align-items: center;
    height: 65px;
    width: 610px;
}

.feed_post_header_organizar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 100%; */
    margin-left: 13px;
}

.feed_nome_logado{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feed_local_post{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.feed_imagem_perfil_post{
    width: 42px;
    height: 42px;
    clip-path: circle(50% at 50% 50%);
    margin-left: 16px;
}

.feed_imagem_post{
    height: 343px;
    width: 610px;
    object-fit: cover;
}

.feed_post_interacoes{
    height: 202px;
    width: 610px;
}

.feed_post_interacoes span{
    margin-left: 21px;
}

.feed_post_organizar_interacoes{
    margin: 13px 0px 6px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.feed_post_comentar{
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}

.feed_table{
    margin-top: 12px;
    width: 50%;
    border-collapse: collapse;
}

.feed_comentario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 0px 5px 0px;
    text-align: start;
    font-weight: 400;
}

.feed_comentario_perfil{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-weight: 600;
}

.feed_usuario_logado{
    /* background-color: violet; */
    margin-top: 20px;
    display: flex;
    height: 113px;
    align-items: center;
    justify-content: flex-start ;
    width: 312px;
    position: fixed;
}

.feed_imagem_perfil_logado{
    width: 61px;
    height: 62px;
    clip-path: circle(50% at 50% 50%);
    margin: 0px 10px 0px 10px;
}

.feed_organizar_perfil_logado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feed_nome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.feed_nome_real{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B6B6B6;
}
